# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
builds/

# Metadata
*.aliases
*.lvlps
.cache/

# C Build artifacts
c/SharedLib.so
c/SharedLib.h
c/lv_wrapped

# Swap Files
*.swp
